@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* Utility Classes */
.text-primary {
    color: #20c997;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #20c997;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: #20a997;
}

.btn-dark {
    background: #333;
    color: #fff;
}

/* Nav bar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: lightgreen;
    color: white;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #20c997;
    border-radius: 5px;
}

/* Showcase */
#showcase {
    background: gray url('./../img/showcase-loan.jpg') no-repeat center center/cover;
    height: 91vh;
    color: #fff;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    /* position: absolute;
    top: 0;
    left: 0; */
    background-color: rgba(0, 0, 0, 0.4)
}






#container {
    margin: 30px auto;
    max-width: 400px;
    padding: 20px;
}

.form-wrap {
    background: #fff;
    padding: 15px 25px;
    color: #333;
}

.form-wrap h1,
.form-wrap p {
    text-align: center;
}

.form-wrap .form-group {
    margin-top: 15px;
}

.form-wrap .form-group label {
    display: block;
    color: #666;
}

.form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}

.form-wrap button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #49c1a2;
    color: #fff;
    cursor: pointer;
}

.form-wrap button:hover {
    background: #37a08e
}

.form-wrap .bottom-text {
    font-size: 13px;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 10px;
}

footer a {
    color: #49c1a2
}